html,
body {
  width: 100%;
  max-height: 100vh;
  background-color: #011625;
  margin: 0;
}

p {
  font-family: Roboto;
}

.noSelect {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Standard */
}
